# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GIT\WordPress-Plugin-Boilerplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
